.calibrate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formControl {
    margin: 2px 4px;
}

.calibrateControls {
    flex: 1;
    display: flex;
}

.block {
    color: gray;
    font-size: 8px;
    vertical-align: middle;
    text-align: center;
    height: 10px;
    width: 10px;
    /* background: rgba(255, 255, 0, 0.5); */
}

.block-0 {
    /* background: rgba(255, 255, 0, 0.5); */
}

.block-1 {
    background: rgba(0, 255, 255, 0.5);
}

.block-active {
    border: 0.5px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.imageWrapper {
    /* background-color: rgba(0,0,0,0.01); */
    display: flex;
    justify-content: center;
    align-content: center;
}

.imageContainer {
    background-color: #333;
    user-select: none;
    display: flex;
    width: 640px;
    height: 480px;
}

.image {
    position: absolute;
    width: 640px;
    height: 480px;
}

.grid {
    display: flex;
    position: absolute;
    width: 640px;
    height: 480px;
}
