.calibrate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calibrateControls {
    flex: 1;
    display: flex;
}

.block {
    font-size: 1px;
    height: 10px;
    width: 10px;
    /* background: rgba(255, 255, 0, 0.5); */
}

.block-0 {
    /* background: rgba(255, 255, 0, 0.5); */
}

.block-1 {
    background: rgba(0, 255, 255, 0.5);
}

.imageContainer {
    user-select: none;
    display: flex;
    width: 640px;
    height: 480px;
}

.image {
    position: absolute;
    width: 640px;
    height: 480px;
}

.grid {
    display: flex;
    position: absolute;
    width: 640px;
    height: 480px;
}