.Play {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #FEFEFE;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vw;
}

.Play-inputWrapper {
    width: auto;
    display: inline-block;
}

.Play-input{
    min-width: 5px;
    line-height: 0;

    background: rgba(0,0,0,0.3);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: unset;
    font-size: unset;
    height: unset;
}

.Play-backgroundColor {
    transition: background-color 1000ms linear;
}

.Play-backgroundColor-1 {
    background: #62A6A3
}

.Play-backgroundColor-2 {
    background: #B0AE97
}

.Play-backgroundColor-3 {
    background: #F37F4A
}

.Play-backgroundColor-4 {
    background: #C1AF49
}