.Finish {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-x: hidden;
    /* opacity: 0; */
}

.Finish-leaderboard-wrapper {
    margin-top: 20px;
    /* height: 400px;
    overflow: hidden; */
}

.Finish-leaderboard-current {
    font-weight: bold;
    background: rgba(0,0,0,0.3);
}

.Finish-leaderboard {
    font-size: 2vw;
    text-align: left;
    width: 100%;

    scroll-behavior: smooth;
    /* animation: new-item-animation 2.0s linear forwards; */
}

.Finish-leaderboard th,td {
    padding: 5px 20px;
}

.Finish-leaderboard-name {
    width: 35%;
}

.Finish-showAllButton {
    text-align: right;
    opacity: 0.1;
}

.Finish-showAllButton:hover {
    opacity: 0.8;
}


@keyframes new-item-animation {
    from {
        opacity: 1;
        transform: translateY(2000px);
}

    to {
        opacity: 1;
        transform : translateY(0);
    }
}